/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #ffffff;
    background-image: url("wave-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 700px;
  }

  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .current-weather {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .location {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .temperature {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .wind .tempfeels .pressure .humidity{
    font-size: 1rem;
    color: #666;
  }
  .weather-icon img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .forecast {
    margin-bottom: 40px;
  }
  
  .forecast h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .forecast-data {
    display: flex;
    justify-content: space-between;
  }
  
  .forecast-data > div {
    flex-basis: calc(100% / 7 - 10px);
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  }
  
  .forecast-data > div:last-child {
    margin-right: 0;
  }
  
  form {
    margin-top: 40px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 60px;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }

  .chart{
    margin-bottom: 40px;
  }



